#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

#user-list li {
  list-style: none;
}

#user-list p {
  cursor: pointer;
}

#user-list img {
  width: 200px;
  height: 200px;
}

#user-list a {
  display: flex;
  margin-top: 5px;
}

#repos-list {
  margin-top: 55px;
  margin-left: 40px;
}

#user-list p {
  cursor: pointer;
}

#repos-list li{
  margin-bottom: 10px;
}
 #repos-list a {
  text-decoration: none;
}